<h1>Lista de productos<h1>
    <%= link_to "Nuevo producto", products_new_path %>
 
<table>
    <tr>
        <thead>
        <th>Nombre</th>
        <th>Descripci{n</th>
        <th>Precio</th>
        </thead>
    </tr>
    <% @products.each do |product| %>
    <tr>
        <td><%= product.name%></td>
        <td><%= product.description%></td>
        <td><%= product.price%></td>
        <td>
            <!-- <%= link_to "Mostrar"%> -->
            <%= link_to "Editar", edit_product_path(product) %>
            <%= link_to "Eliminar", product, method: :delete, data: { confirm: "Deseas borrar el articulo?"} %>
        
        </td>
    </tr>
    <% end %>
    
</table>